@media screen and (max-width:1364px) {
    .container {
        width: 1032px;
        row-gap: 40px;
    }

    .favgen {
        font-size: 24px;
        font-weight: 600;
        line-height: 30px;
    }

    .img {
        height: 200px;
    }

    .res {
        width: 180px;
        height: 160px;
        margin: 7px;
        padding-left: 15px;
        padding-top: 15px;
    }

    .title {
        font-size: 20px;
    }

    .heading {
        font-size: 16px;
    }

    .descri {
        font-size: 12px;
    }

    .about {
        /* margin-top: 40px; */
        width: 375px;
        height: 230px;
    }

    .extra {
        width: 490px;
        height: 230px;
    }
}

@media screen and (max-width:1054px) {
    .container {
        /* border: 1px solid red; */
        width: 827px;
        row-gap: 20px;
    }

    .bar {
        width: 780px;
    }

    .element3 {
        display: none;
    }

    .empty {
        display: none;
    }

    .type {

        align-items: start;
        justify-content: center;
    }

    .typem {
        display: flex;
        /* column-gap: 17px; */
        width: 300px;
        gap: 10px;
        height: 1000px;
        flex-wrap: wrap;
    }

    .favbox {
        height: 320px;
    }

    .fdesc {
        height: 120px;
    }

    .resources {
        width: 780px;
        display: flex;
        flex-wrap: wrap;
    }

    .res {
        width: 160px;
        height: 135px;
        margin: 7px;
        padding-left: 10px;
        padding-top: 10px;
    }

    .about {
        /* margin-top: 40px; */
        width: 250px;
        height: 300px;
    }

    .extra {
        width: 350px;
        height: 300px;
    }
}

@media screen and (max-width:827px) {
    .container {
        /* align-items: center; */
        width: 550px;
        justify-content: center;
    }

    .bar {
        width: 520px;
        grid-template-columns: 30px 470px auto 294px;
        height: 60px;
        /* border: 1px solid red; */
    }

    .header {
        position: absolute;
        top: 60px;
    }

    .favgen {
        width: 100%;
        font-size: 24px;
    }

    .element1 {
        width: 30px;
    }

    .resources {
        width: 500px;
        align-items: center;
    }

    footer {
        height: 700px;
    }

    .foot {
        flex-direction: column;
        /* flex-wrap: wrap; */
    }
}

@media screen and (max-width:570px) {
    body{
        width: 100vw;
        
    }
    .container{
        width:370px;
        padding-inline: 6px;
        /* justify-content: center; */

    }
    h2{
        height:fit-content
    }
    .bar{
        width: 0;
        grid-template-columns: 0 0 40 0;
    }
    .element1 {
        width: 166px;
    }
    .element2 {
        display: none;
    }

    .favgen {
        display: flex;
        width: 350px;
        font-size: 15px;
        line-height: 24px;
        height:253px;
    }
    .resources {
        width: 350px;
    }
    .foot {
        height: 700px;
    width: auto;
    flex-wrap: wrap;
    flex-direction: row;
    }
    footer {
        height: 1000px;
        /* border: 1px solid red;  */
    }
    .extra{
        width:350px;
        height: 500px;
        display: flex;
        flex-wrap: wrap;
    }
}